<%- include('template/header.ejs') %>

<div class="container mb-5">

    <div class="container">
        <div class="flex flex-col w-full lg:flex-row container" data-aos="zoom-in-up">
            <a href="/shop" class="grid flex-grow h-80 card bg-[#1f2122] rounded-box place-items-center hvr-reveal">
                <div class="py-5">
                <ion-icon name="storefront-outline" style="font-size: 180px;"></ion-icon>
                <div>
                    <p class="font-bold text-2xl">SHOP</p>
                    <p>เข้าสู่ร้านค้า</p>
                </div>
            </div>
            </a> 
            <div class="divider lg:divider-horizontal">OR</div> 
            <a href="/spin" class="grid flex-grow h-80 card bg-[#1f2122] rounded-box place-items-center hvr-reveal">
                <ion-icon name="help-buoy-outline" style="font-size: 180px; margin-top: 10px;"></ion-icon>
                <div>
                    <p class="font-bold text-2xl">SPIN</p>
                    <p>เข้าสู่เกมสุ่มวงล้อ</p>
                </div>
            </a>
        
    
</div>
</div>
</div>

<%- include('template/footer.ejs') %>