<%- include('template/header.ejs') %>

    <div class="container">

            <div class="card shrink-0 w-full ">
                <div class="mb-5 pt-3 grid place-items-center">
                    <div class="navbar">
                        <div class="navbar-start">
                          
                        </div>
                        <div class="navbar-center">
                          <div class="text-4xl font-bold">เลือกช่องทางการติดต่อ</div>
                        </div>
                        <div class="navbar-end">
                        </div>
                      </div>
                </div>
                <hr>
                        <div class="flex flex-col w-full lg:flex-row p-3">
                            <a href="https://web.facebook.com/profile.php?id=61551033358926" target = "_ blank" class="grid flex-grow h-80 card bg-[#1f2122] rounded-box place-items-center hvr-reveal">
                                <div class="py-5">
                                <ion-icon name="logo-facebook" style="font-size: 200px; margin-bottom: 20px;"></ion-icon>
                                <div>
                                    <p class="font-bold text-2xl">Facebook</p>
                                    <p>ติดต่อผ่านทาง Facebook</p>
                                </div>
                            </div>
                            </a> 
                            <div class="divider lg:divider-horizontal">OR</div> 
                            <a href="https://discord.gg/PrnY4JvR6U" target = "_ blank" class="grid flex-grow h-80 card bg-[#1f2122] rounded-box place-items-center hvr-reveal">
                                <ion-icon name="logo-discord" style="font-size: 200px; margin: 20px;"></ion-icon>
                                <div>
                                    <p class="font-bold text-2xl">Discord</p>
                                    <p>ติดต่อผ่านทาง Discord</p>
                                </div>
                            </a>
                            <div class="divider lg:divider-horizontal"></div> 
                            <div class="grid flex-grow h-80 card bg-[#1f2122] rounded-box place-items-center hvr-reveal">

                                <iframe src="https://discordapp.com/widget?id=1175783967664898069&theme=dark" class="w-full h-full" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

                            </div>
                          </div>
                    
            </div>
    </div>

<%- include('template/footer.ejs') %>