<div class="container grid place-items-center">
    <div class="join">
        <a href="/backend"><button class="btn join-item"><ion-icon name="podium-outline"></ion-icon>แดชบอร์ด</button></a>
        <a href="/website"><button class="btn join-item"><ion-icon name="laptop-outline"></ion-icon> จัดการเว็บไซต์</button></a>
        <a href="/user_edit"><button class="btn join-item"><ion-icon name="people-outline"></ion-icon> จัดการผู้ใช้</button></a>
        <a href="/shop_manage"><button class="btn join-item"><ion-icon name="bag-outline"></ion-icon> จัดการร้านค้า</button></a>
        <a href="/shop_manage"><button class="btn join-item"><ion-icon name="bag-outline"></ion-icon> จัดการสินค้าแนะนำ</button></a>
        <a href="/history_log"><button class="btn join-item"><ion-icon name="albums-outline"></ion-icon> ประวัติทั้งหมด</button></a>
        <a href="/profile"><button class="btn join-item"><ion-icon name="arrow-redo-outline"></ion-icon> กลับเข้าสู่หน้าเว็บไซต์</button></a>
    </div>
</div>
